$error-color: hsl(0, 100%, 66%);

$color-white: hsl(0, 0%, 100%);
$color-grayish-violet-light: hsl(270, 3%, 87%);
$color-grayish-violet-dark: hsl(279, 6%, 55%);
$color-very-dark-violet: hsl(278, 68%, 11%);
$color-very-dark-violet-1: #1e082a;

$bp-sd: 90em;
$bp-mp: 37.5em;

$default-font-size: 1.8rem;

// - Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
